@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Rock+Salt&display=swap');
body {
    font-family: 'Arvo', serif;
    cursor: url("../img/tablet-pen.cur"), default;
    background-image: url(../img/cross-hatch.jpg);
}

.primary__color {
    background-color: #230477;
}

.font__RockSalt {
    font-family: 'Rock Salt', cursive;
}

.hero__section {
    background-image: url(../img/img-hero-section.jpg);
    background-repeat: no-repeat;
    background-size: unset;
    background-position: right;
    padding: 10rem 3rem;
    text-shadow: 0.125em 0.25em 0.125em #230477;
}

main {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.95);
}

hr {
    border: white;
    height: 1px;
    background-color: #230477;
    border-style: dotted;
}

html {
    scroll-behavior: smooth;
}

i {
    color: black;
    display: inline-block;
}

#divAndroid, #divPC, #divGrafico {
    display: none;
}

h1 {
    display: inline-block;
}

#carouselTrabajos, #carouselTrabajos2 {
    width: 90%;
    margin: auto;
    display: inline-block;
}

.carousel-item img {
    height: 100%;
    width: auto;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23230477' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23230477' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#carouselTrabajos .carousel-indicators, #carouselTrabajos2 .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

#carouselTrabajos .carousel-indicators li, #carouselTrabajos2 .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}

#carouselTrabajos .carousel-indicators li img, #carouselTrabajos2 .carousel-indicators li img {
    display: block;
    opacity: 0.75;
}

#carouselTrabajos .carousel-indicators li.active img, #carouselTrabajos2 .carousel-indicators li.active img {
    opacity: 1;
}

#carouselTrabajos .carousel-indicators li:hover img, #carouselTrabajos2 .carousel-indicators li:hover img {
    opacity: 0.75;
}

#carouselTrabajos .carousel-outer, #carouselTrabajos2 .carousel-outer {
    position: relative;
    width: 100%;
}

footer i {
    color: white;
}